// Created by pengshuo on 17/5/31.
extends ../layout

block content
    .am-u-md-8
        .am-list-news.am-list-news-default(data-am-widget='list_news')
            // 列表标题
            .am-list-news-hd.am-cf
                // 带更多链接
                a(href='###')
                    h2 大气之象
                    span.am-list-news-more.am-fr 更多 »
            .am-list-news-bd
                ul.am-list
                    // 缩略图在标题下方居左
                    each article in articles
                        li.am-g.am-list-item-desced.am-list-item-thumbed.am-list-item-thumb-bottom-left
                            h3.am-list-item-hd
                                a(href= "//zhuanlan.zhihu.com#{article.url}") #{article.title}
                            .am-u-sm-4.am-list-thumb
                                a(href= "//zhuanlan.zhihu.com#{article.url}")
                                    img(src= article.titleImage, alt= article.title)
                            .am-u-sm-8.am-list-main
                                .am-list-item-text
                                    | #{article.content}


    .am-u-md-4.blog-sidebar
        include ../sidePanels/index